.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    .card-container {
        border: 1px solid rgb(150, 150, 150);
        margin: 10px 0;
        .card-btn {
            width: 100px;
            margin: auto;
        }
    }
}
